h1 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

 {
  /* TODO Task 3 */
}
.active {
  background-color: yellow;
}
.card {
  padding: 15px;
  border-radius: 9px;
  border: solid 1px black;
  box-shadow: 0px 0px 10px #58535373;
}
 {
  /* TODO Task 3 */
}
.back {
  width: 232px;
}

img {
  border-radius: 3px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.back {
  height: 445px;
  background-color: lightgreen;
}
